@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-span: "span", serif;
  --bw: 1440;
}

@media (max-width: 767.98px) {
  :root {
    --bw: 375;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  :root {
    --bw: 480;
  }
}

html.lenis-stopped {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Set a smaller width for the scrollbar */
}

/* Define the style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the scrollbar track */
}

/* Define the style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  /* Set the color of the scrollbar thumb */
  background: #d0d0d0;
  border-radius: 0.5rem;
}

/* Define the style for the scrollbar thumb when being hovered */
::-webkit-scrollbar-thumb:hover {
  background: #787878; /* Set the color of the scrollbar thumb on hover */
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

ul {
  @apply list-disc pl-16d;
}
.btn-primary {
  @apply relative overflow-hidden z-0;
  transition: color 0.5s ease-in-out;
}

.btn-primary.translate-anim {
  transition:
    color 0.5s ease-in-out,
    transform 0.3s ease-in-out;
}

.btn-primary.translate-anim-icon {
  transition:
    fill 0.5s ease-in-out,
    transform 0.3s ease-in-out;
}

.btn-primary::before {
  @apply bg-ruby-red rounded-full;
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: bottom 0.3s ease-in-out;
  z-index: -1;
}

/* Default hover behavior */
.btn-primary:hover::before {
  bottom: 0;
}

.btn-primary:hover {
  @apply text-white;
}

/* Active tab styling */
.btn-primary.active::before {
  bottom: 0;
}

.btn-primary.active {
  @apply text-white;
}

/* Transition out effect when switching tabs */
.btn-primary.transitioning-out::before {
  bottom: -100%;
  transition: bottom 0.3s ease-in-out;
}

.btn-primary.transitioning-out {
  @apply text-ruby-red;
  transition: color 0.3s ease-in-out;
}

/* Animation for translate */
.btn-primary.translate-anim:hover {
  @apply text-white -translate-y-1;
}

.btn-primary.translate-anim-icon:hover {
  @apply fill-white -translate-y-1;
}

.clip-logo {
  clip-path: inset(0% 0% 25% 0%);
  transform: translateY(100%);
}
.scale-logo {
  transform: scale(1.89);
  transform-origin: 25% 50% !important;
  transition: transform 0.6s ease-in-out;
}

.logo-svg:hover .scale-logo {
  transform: scale(1);
}

@layer components {
  /* h1 {
    @apply md:landscape:text-145d font-normal leading-none text-72d;
  } */

  h2 {
    @apply text-96d leading-none;
  }

  h3 {
    @apply text-48d leading-none;
  }

  h4 {
    @apply text-32d leading-none;
  }

  /* h5 {
    @apply text-16d font-normal;
  } */

  p {
    @apply text-16d;
  }
}

.clipped {
  clip-path: inset(0% 0% 100% 0%);
  transform: translateY(100%);
}

.grecaptcha-badge {
  visibility: hidden;
}

input:focus-visible,
input:focus-within,
input:focus {
  outline: none;
  box-shadow: none;
}

.navbar-white svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.navbar-white .nav-link {
  color: #fff;
  transition: color 0.3s ease-in-out;
}
